<div class="p-5">
<!-- <p><%= link_to "Back", activities_path %></p>--><div class="container-show d-flex p-4">
  <div class="container-activity d-flex aligh-items-end mx-3">
    <div class="card rounded" style="width: 25rem; border-radius: 4px important!">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between">
          <h5><%= @activity.name %></h5>
          <h5><%= @activity.type_activity %></h5>
        </div>
          <h6 class="mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> <%= @activity.address %>/h6>
          <div class="d-flex flex-column justify-content-between">
          <p style="min-height: 150px; margin-top: 20px; color: black;"><%= @activity.description %></p>
          <% if policy(Activity).index? %>
            <%= link_to "Back to my bookings", bookings_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-activity-photo d-flex flex-column">
        <div>
          <div class="img-details d-flex aligh-items-end justify-content-between w-100 mx-2 px-2">
              <p>Max: <%= @activity.max_participants %> <i class="fas fa-user-friends"></i></p>
              <!-- <p>Price: <%= @activity.price %> €/pers</p> -->
          </div>
        </div>
        <%= image_tag 'Surf.jpg', class:'w-100 h-auto mx-2 rounded'%>
    </div>
  </div>

  <div class="container-new-booking">

    <div class="form-container">

      <div class="header">
        <div class="header-row">
          <div class="big-bold" id="price" data-amount-cents="1"><%= @activity.price %>€</div>
          <div class="small-light"> / PARTICIPANT</div>
        </div>
      </div>

    <%= simple_form_for([@activity, @booking]) do |f| %>
      <%= f.input :date, type: :date %>

      <div class="flex-between mt-4">
        Participants:
        <div class="actions">
          <btn href="#" class="btn round-bordered incrementer minus" disabled data-offset="-1">-</btn>
          <span id="counter" data-count="1">1</span>
          <btn href="#" class="btn round-bordered incrementer plus" data-offset="1">+</btn>
        </div>
      </div>
      <%= f.input :participants_number, as: :hidden %>

      <div id="total-price" class="mb-4">Total price: <strong><%= @activity.price %>€ </strong></div>
      <%# f.input :date, :as => :string, :input_html => { :class => 'date_picker' } %>
      <%= f.button :submit, class: 'btn btn-outline-success' %>
    <% end %>

    </div>

  </div>
</div>


<%= javascript_pack_tag 'plusminus' %>
